<main id="main-holder">
    <h1 id="login-header">BMI Calculator - Sign Up</h1>
    <div id="login-error-msg-holder">
        <p id="login-error-msg">
            Invalid username
            <span id="error-msg-second-line">and/or password</span>
        </p>
    </div>
    <form class="signup" id="login-form">
        <input type="text" name="email" id="email-input" class="login-form-field" placeholder="Email" />
        <input type="password" name="password" id="password-input" class="login-form-field" placeholder="Password" />
        <button type="submit" value="Login" id="login-form-submit">Sign Up</button>
    </form>
    <p>Already a member? Login <a href="/">here</a></p>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>